@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome, please log in!</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
@*        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/loginform.css")">*@
@*        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/logo.png")">*@
    </head>
    <body>
        <div class="background">
            <div class="shape"></div>
            <div class="shape"></div>
        </div>
        <form enctype="application/x-www-form-urlencoded" method="post">
            <h3>Login Here</h3>

            <label for="username">Username</label>
            <input type="text" placeholder="Email or Phone" id="username" name="username">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password">

            <a id="register-now" href="/register">No account? Register now</a>

            <button type="submit">Log In</button>
        </form>
    </body>
</html>
